@page "/"

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Hello, world!
                </h1>
                <small>
                    Welcome to your new app.
                </small>
            </div>
        </div>
    </div>
</div>
