<div class="footer">
    <div class="float-right">
        Orleans.Dashboard
    </div>
    <div>
        <strong>Copyright</strong> Gutemberg Ribeiro + Orleans Contrib Contributors &copy; 2019
    </div>
</div>