@inherits LayoutComponentBase

<!-- Wrapper-->
<div id="wrapper" class="Main">

    <!-- Navigation -->
    <NavMenu />

    <!-- Page wraper -->
    <div id="page-wrapper" class="gray-bg">

        <!-- Top Navbar -->
        <TopNavbar />

        <!-- Main view  -->
        @Body

        <!-- Footer -->
        <Footer />

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->
